In [20]:
%matplotlib notebook

In [21]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [22]:
#Importing files
mouse_data = "../../../working/05-Matplotlib/Homework/Instructions/Pymaceuticals/data/Mouse_metadata.csv"
study_results = "../../../working/05-Matplotlib/Homework/Instructions/Pymaceuticals/data/Study_results.csv"

mouse_data_df = pd.read_csv(mouse_data)
study_results_df = pd.read_csv(study_results)

In [23]:
mouse_data_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [24]:
study_results_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [25]:
merge_df = pd.merge(mouse_data_df, study_results_df, on = "Mouse ID")
merge_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [26]:
#duplicated_row = merge_df.duplicated(keep = 'last')
#duplicated_row

# Summary Statistics Table

In [29]:
#Calculating mean of tumor volume
mean_vol = merge_df['Tumor Volume (mm3)'].mean()
mean_vol

50.448380631336505

In [32]:
#Calculating median of tumor volume
median_vol = merge_df['Tumor Volume (mm3)'].median()
median_vol

48.95147442

In [37]:
#Calculating variance of tumor volume
var_vol = merge_df.var()['Tumor Volume (mm3)']
var_vol

79.11607400716628

In [38]:
#Calculating standard deviation of tumor volume
std_vol = merge_df.std()['Tumor Volume (mm3)']
std_vol

8.894721693631919

In [40]:
#Calculating SEM of tumor volume
sem_vol = merge_df.sem()['Tumor Volume (mm3)']
sem_vol

0.20443585034961514

In [44]:
#Creating summary statistics table for tumor volume

summary_stats_df = pd.DataFrame(
    {"Mean of Tumor Volume": [mean_vol],
     "Median of Tumor Volume": [median_vol],
     "Variance of Tumor Volume": [var_vol],
     "Standard Deviation of Tumor Volume": [std_vol],
     "SEM of Tumor Volume": [sem_vol]
    }
)

summary_stats_df.head()

,Mean of Tumor Volume,Median of Tumor Volume,Variance of Tumor Volume,Standard Deviation of Tumor Volume,SEM of Tumor Volume
0,50.448381,48.951474,79.116074,8.894722,0.204436

# Bar Plot: Total Measurements for Regimens

In [45]:
#plt.bar(merge_df["Drug Regimen"], )

In [ ]:
#labels = [merge_df["Sex"], ]
#loc male and loc female?